:root {
  --primary-color: #1f2937;
  --secondary-color: #d97707;
  --default-font: "Poppins", sans-serif;
  --heading-font: "Fredoka One", cursive;
}
body {
  background-color: var(--primary-color);
  font-family: var(--default-font);
  color: white;
}
.start {
  margin: 250px 80px 150px 80px;
}
.projects {
  margin-top: 60px;
  align-self: center;
}
h1 {
  color: white;
  font-weight: 700;
  font-size: 60px;
  margin-bottom: 25px;
}
h4 {
  color: white;
  font-size: 30px;
  font-weight: bold;
}
h3 {
  color: white;
  font-size: 28px;
  font-weight: bold;
}
h2 {
  color: white;
  font-size: 40px;
  font-family: var(--heading-font);
}
.summary {
  font-size: 30px;
  color: white;
  margin-bottom: 50px;
}
.button {
  color: white;
  font-size: 20px;
  text-decoration: none;
  border-radius: 3px;
  padding: 12px 18px;
  margin: 20px;
}
.work {
  border: solid white 1px;

  background-color: var(--primary-color);
}
.contact {
  background-color: var(--secondary-color);
}
img {
  max-width: 700px;
  max-height: 500px;
}
.project-shot {
  max-width: 400px;
  max-height: 400px;
}
.project-info {
  font-size: 22px;
  margin: 25px;
}
.content {
  font-size: 25px;
  margin: 100px;
  text-align: center;
  padding: 40px;
}
.bold {
  font-weight: bold;
}
.email {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
}
@media (max-width: 800px) {
  .start {
    margin: 60px;
  }
  .works {
    margin-top: 30px;
    text-align: center;
  }
  .about {
    text-align: center;
  }
  .button {
    max-width: 50px;
    margin: 0;
    text-align: center;
  }
  img {
    margin-top: 40px;
  }
}
